.Container {
	margin: auto;
	width: 75%;
	position: relative;
}

.Score {
	position: absolute;
	top: 0;
	right: 0;
	font-size: 12pt;
	width: 20px;
	height: 20px;
	text-align: center;
	z-index: 1000;
	background-color: #55bb55;
	color: #FFFFFF;
	border-radius: 50%;
}

.Icon {
	border-radius: 50%;
	border: 1px solid white;
}

.Name {
	color: #ffffff;
	text-align: center;
}
